#login-form{
  
}
form {

    text-align: center;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
  opacity: 0.95;
}

h3 {
    text-align: center;
}

.log-button #log-btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.form-container {
    padding-top: 5%;
    

}

#login-btn, #register-btn {
    width: 100%
}

.theLink {
padding-top: 5px;
}

a {
   
}

