#login-form{
    background-color: aqua;
}
form {
    border-style: groove;
    text-align: center;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    border:1px solid #ccc;
    box-sizing: border-box;
    opacity: 0.8;
}

h3 {
    text-align: center;
}

.log-button #log-btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.form-container {
    padding-top: 10%;
    
}

h1 {

}

a {
   
}
