h1 {
    text-align: center;
   
}

header {
    text-align: center;
    padding-top: 10%;
    font-size: 850%;
      
}

container {
    color: black;
    width: auto;
}

body {
    background-image:url("../images/book.jpeg");
    height: 100%;
    

    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    position: fixed;
    left: 0;
    bottom:0;
    width:100%;
    background-color:antiquewhite;
    text-align: center;
    opacity: 0.8;
}

.Navbar {
    background color:red;
}
